body {
    height: 100vh;
    width: 100vw;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    width: max-content;
    padding-top: 25vh;
}

#hex-form {
    display: flex;
    gap: 20px;
}

#random-color {
    width:400px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}